body
        {
            background-color: #ffe8df;
        }
 hr
        {
            background-color: whitesmoke;
            border-style: none;
            border-top: dotted;
            border-width: 5px;
            border-color: grey;
            width: 5%;
        }
h3
{
    color: #40bad5;
}
h1
{
    color: #b49c73;
}